.Navigation {
    background-color: white;
}

.navbar {
    margin-right: 5%;
    margin-left: 5%;
}

.navbar-brand {
    font-size: 2rem !important;
}

.navbar-nav {
    margin-left: auto;
}

.nav-link {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    font-size: 1.15rem !important;
    color: #027F7B !important;
}

.nav-link:hover {
    background-color: #027F7B;
    color: white !important;
    border-radius: 29px;
}

.navbar-toggler {
    border: none;
    color: black;
}


.introComp{
    background-color: #027F7BA6;
    height: 100%;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.introtext{
    padding: auto auto;
    text-align: center;
    padding-top: 10%;
    color: white;
}

.introtext h1{
    font-family: "Roboto Serif";
    font-weight: 400;
    padding-bottom: 3%;
}

.introtext p{
    font-family: "Roboto Serif";
    font-weight: 200;
    font-size: 1.5rem;
    padding-bottom: 10%;
}

.case{
    text-align: center;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
}

.case h1{
    padding-bottom: 5%;
    font-family: "Roboto Serif";
    font-weight: 600;
    color: #086F6B;
}

.case p{
    text-align: left;
    font-family: "Roboto Serif";
    font-weight: 400;
    color: #027F7B;
    font-size: 1.5rem;
}

#carouselExampleIndicators{
    position: relative;
    background-color: #8CC0BF;
    width: 50%;
    height: 100%;
    left: 25%;
    padding-top: 2%;
    padding-bottom: 5%;
}

#carouselExampleIndicators h2{
    color: white;
    padding-bottom: 2%;
}

.s1 img{
    height: 60%;
    width: 60%;
    margin-top: 20%;
    padding-bottom: 15%;
}

.s1 h3{
    color: #027F7B;
    font-family: "Roboto Serif";
    padding-bottom: 2%;
}

.s1 p{
    color: white;
    text-align: center;
    font-family: "Roboto Serif";
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
}

.Speakers{
    background-color: #8CC0BF;
    text-align: center;
    padding-top: 5%;
}

.Speakers h1{
    padding-bottom: 5%;
    color: white;
    font-family: "Roboto Serif";
    font-size: 3rem;
}

.Speakers h2{
    color: white;
    font-family: "Roboto Serif";
    padding-top: 5%;
    padding-bottom: 3%;
}

.Speakers h3{
    color: white;
    font-family: "Roboto Serif";
    padding-bottom: 3%;
}

.cardlink{
    justify-content: center;
}

.linksection{
    text-align: center;
    padding-top: 5%;
}

.linksection h1{
    padding-bottom: 5%;
    color: #027F7B;
    font-family: "Roboto Serif";
    font-weight: 600;
    font-size: 3rem;
}

.card{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    background-color: #8CC0BF !important;
    text-align: left;
    padding-top: 2%;
}

.card h3{
    color: #027F7B;
    font-family: "Roboto Serif";
    padding-bottom: 5%;
}

.card p{
    color: white;
    font-family: "Roboto Serif";
    padding-bottom: 5%;
}



footer {
    background-color: #347b7b; /* Main footer background color */
    color: white;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 0%;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.icons a {
    margin-left: 5%;
    margin-right: 5%;
}

.icons img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.icons img:hover {
    transform: scale(1.1);
}

.navigations {
    display: flex;
    align-items: center;
}

.navigations img.footer-logo {
    width: 300px;
    height: 300px;
    margin-right: 10%;
}


.contacts p {
    margin: 5px 0;
}

.contacts img {
    width: 30px;
    height: 30px;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 5%;
}
.con{
    display: flex;
    align-items: center;
}
/* End of footer */
.end {
    justify-content: center;
    background-color: #8CC0BF;
    width: 100%;
    color: white;
    font-size: 1.25rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .lastdiv {
        flex-direction: column;
        align-items: center;
    }

    .icons {
        margin-right: 10%;
    }

    .navigations {
        flex-direction: column;
        align-items: center;
    }
    .navigations img.footer-logo {
        width: 200px;
        height: 200px;
        margin-left: 3%;
    }

    .navigations img[alt=""] {
        display: none;
    }

    .contacts {
        align-items: center;
    }

    .contacts p {
        text-align: center;
    }
    .contacts img {
        width: 30px;
        height: 30px;
        margin-left: 5%;
    }

    .end {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .icons img {
        width: 30px;
        height: 30px;
    }

    .icons{
        margin-right: 10%;
    }

    .navigations img.footer-logo {
        width: 200px;
        height: 200px;
        margin-left: 3%;
    }

    .contacts img {
        width: 30px;
        height: 30px;
        margin-left: 5%;
    }

    .contacts p {
        font-size: 14px;
    }
}



  